* {
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}
header{
    height: 5vh;
    background-color: black;
}
li {
    list-style: none;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links a{
    margin-right: 10px;
    text-decoration: none;
    color: white;
}
.headtitle{
    color: white;
    margin-left: 10px;
}
body{
    margin: 0;
}

#mainscreen{
    background-image: url("https://images.unsplash.com/photo-1547756536-cde3673fa2e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1541&q=80");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#mapsec{
    width: 97%;
    padding: 0px 0px 3% 0px;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
#gallery{
    width: 100%;
}
#gallery img{
    width: 100%;
    height: 100%;
}
#gallerypic{
    
    margin: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1%;
}
.bottompic{
    margin: 2%;
}


#houses{
    width: 100%;
}
.housesgrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    padding: 0% 10% 20% 10%;
    text-align: center;
}
.housesgrid img{
    width: 50%;
}
#teachers{
    width: 100%;
    height: 100%;
}
.teacherspic{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1%;
    row-gap: 2%;
    padding: 0% 2% 2% 2%;
}
.teacherspic img{
    width: 100%;
    height: 100%;
}
#bottominfo{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
footer p{
    padding: 0.5%;
}
footer a:link{
    color: orange
}
footer a:visited{
    color: orange;
}
footer a:hover{
    color: orange;
}
.topbttn a:link{
    color:orange
}
.topbttn a:visited{
    color:orange
}
.topbttn a:hover{
    color:orange
}
#map{
    width: 100%;
    align-content: center;
}
.splashtext{
    margin: 50px;
    text-shadow: 2px 2px black;
}
h1{
    font-size: 50px;
    text-align: center;
}
h2{
    font-size: 30px;
}
button{
    padding: 10px 30px;
    
}
.section-header {
    text-align: center;
    margin-bottom: 3%;
}

.section-title{
    margin: 50px;
}
.homelink a:link{
    color:orange
}
.homelink a:visited{
    color:orange
}
.homelink a:hover{
    color:orange
}